.whole {
    padding: 20px 30px;
    h3 {
        font-size: 20px;
    }
    button {
        margin-top: 12px;
    }
    .theList {
        list-style: none;
    }
    .theList li {
        color: #333;
        padding: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #f0f0f0;
    }
}