.whole {
    padding: 20px 30px;
    h3 {
        font-size: 20px;
    }
    button {
        margin-top: 12px;
    }
}

.theList {
    list-style: none;
    li {
        color: #333;
        position: relative;
    }
}

.list-del {
    position: absolute;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-right: 15px;
    top: 17px;
    left: 10px;
    cursor: pointer;
}

.list-item {
    padding: 15px 3px;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    margin-left: 40px;
    font-size: 15px;
}